<%= @logrotate[:logpath] %> {
  <%= @logrotate[:frequency] %>
<% if @logrotate[:missingok] %>
  missingok
<% end %>
<% if @logrotate[:notifempty] %>
  notifempty
<% end %>
<%  if @logrotate[:copytruncate] %>
  copytruncate
<% end %>
<% if @logrotate[:rotate] %>
  rotate <%= @logrotate[:rotate] %>
<% end %>
<% if @logrotate[:compress] %>
  compress
<% end %>
<% if @logrotate[:compress_cmd] %>
  compresscmd <%= @logrotate[:compress_cmd] %>
<% end %>
<% if @logrotate[:uncompress_cmd] %>
  uncompresscmd <%= @logrotate[:uncompress_cmd] %>
<% end %>
<% if @logrotate[:compress_ext] %>
  compressext <%= @logrotate[:compress_ext] %>
<% end %>
<% if @logrotate[:dateext] %>
  dateext
<% end %>
}
