#!/bin/bash
<% if %w(redhat centos scientific fedora suse amazon).include? node.platform -%>
# chkconfig: 345 20 80
# description: Mongo Monitoring Service
# processname: <%= @provides %>
<% else -%>
### BEGIN INIT INFO
# Provides:          <%= @provides %>
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:
# Default-Stop:
# Short-Description: Start/stop mongodb <%= @provides %>
### END INIT INFO
<% end -%>
#
#       /etc/init.d/mms-agent
#
# Source function library.
if [ -f /etc/init.d/functions ]; then
    . /etc/init.d/functions
fi

NAME="mms-agent"
PYTHON=$(which python)
AGENT="<%= @install_dir %>/agent.py"
LOGFILE="<%= @log_dir %>/${NAME}.log"
PIDFILE="/var/run/${NAME}.pid"
USER=<%= @user %>


start() {
    echo -n "Starting $NAME: "
    su - $USER -c "$PYTHON $AGENT > $LOGFILE 2>&1 &"
}

stop() {
    echo -n "Shutting down ${NAME}: "
    for i in $(ps aux|grep $AGENT|grep -v grep|awk '{print $2}'); do
        kill -9 $i
    done
}
case "$1" in
    start)
        if [ ! -z $(ps aux|grep $AGENT|grep -v grep|awk '{print $2}') ]; then
            echo "${NAME} is already running..."
        else
            start
        fi
        ;;
    stop)
        stop
        ;;
    restart|reload)
        stop
        echo ""
        start
        ;;
    *)
        echo "Usage: ${NAME} {start|stop|reload|restart}"
        exit 1
        ;;
esac
echo ""
exit $?
