#!/bin/bash
# chkconfig: 345 20 80
# description: Mongo Monitoring Service
# processname: <%= @provides %>
#
#       /etc/init.d/<%= @provides %>
#
# Source function library.
. /etc/init.d/functions

NAME="mms-agent"
PYTHON=$(which python)
AGENT="/opt/mms-agent/agent.py"
LOGFILE="/data/log/${NAME}.log"
PIDFILE="/var/run/${NAME}.pid"
USER=mongod


start() {
    echo -n "Starting $NAME: "
    daemon --user $USER --pidfile $PIDFILE  "$PYTHON $AGENT > $LOGFILE 2>&1 &"
}

stop() {
    echo -n "Shutting down ${NAME}: "
    for i in $(ps aux|grep $AGENT|grep -v grep|awk '{print $2}'); do
        kill -9 $i
    done
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart|reload)
        stop
        echo ""
        start
        ;;
    *)
        echo "Usage: ${NAME} {start|stop|reload|restart}"
        exit 1
        ;;
esac
echo ""
exit $?
