#!/bin/bash

# <%= node[:mongodb][:mongos][:svc_name] %> - Startup script for <%= node[:mongodb][:mongos][:svc_name] %>

# chkconfig: 35 85 15
# description: Mongo is a scalable, document-oriented database.
# processname: <%= node[:mongodb][:mongos][:svc_name] %>
# config: /etc/<%= node[:mongodb][:mongos][:svc_name] %>.conf
# pidfile: <%= node[:mongodb][:mongos][:pidfilepath] %>

. /etc/rc.d/init.d/functions

SYSCONFIG="/etc/sysconfig/<%= node[:mongodb][:mongos][:svc_name] %>"
DAEMON=/usr/bin/mongos
MONGO_USER=mongod
PID="<%= node[:mongodb][:mongos][:pidfilepath] %>"
DAEMON_OPTS=" --config /etc/<%= node[:mongodb][:mongos][:svc_name] %>.conf"
. "$SYSCONFIG" || true

start()
{
  echo -n $"Starting <%= node[:mongodb][:mongos][:svc_name] %>: "
  daemon --user "$MONGO_USER" $DAEMON $DAEMON_OPTS
  RETVAL=$?
  echo
  [ $RETVAL -eq 0 ] && touch /var/lock/subsys/<%= node[:mongodb][:mongos][:svc_name] %>
}

stop()
{
  echo -n $"Stopping <%= node[:mongodb][:mongos][:svc_name] %>: "
  killproc -p ${PID} -d 300 /usr/bin/mongos
  RETVAL=$?
  echo
  [ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/<%= node[:mongodb][:mongos][:svc_name] %>
}

restart () {
  stop
  start
}

ulimit -n 12000
RETVAL=0

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart|reload|force-reload)
    restart
    ;;
  condrestart)
    [ -f /var/lock/subsys/<%= node[:mongodb][:mongos][:svc_name] %> ] && restart || :
    ;;
  status)
    status $DAEMON
    RETVAL=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|reload|force-reload|condrestart}"
    RETVAL=1
esac

exit $RETVAL

