#!/bin/bash

# <%= @svc_name %> - Startup script for <%= @svc_name %>

# chkconfig: 35 85 15
# description: Mongo is a scalable, document-oriented database.
# processname: <%= @svc_name %>
# config: /etc/<%= @svc_name %>.conf
# pidfile: /var/run/mongo.pid

. /etc/rc.d/init.d/functions

SYSCONFIG="/etc/sysconfig/<%= @svc_name %>"
DAEMON=/usr/bin/mongod
MONGO_USER=mongod
DBPATH=<%= @dbpath %>
DAEMON_OPTS=" --config /etc/<%= @svc_name %>.conf --fork"
. "$SYSCONFIG" || true

start()
{
  echo -n $"Starting <%= @svc_name %>: "
  daemon --user "$MONGO_USER" $DAEMON $DAEMON_OPTS
  RETVAL=$?
  echo
  [ $RETVAL -eq 0 ] && touch /var/lock/subsys/<%= @svc_name %>
}

stop()
{
  echo -n $"Stopping <%= @svc_name %>: "
  killproc -p "$DBPATH"/mongod.lock -d 300 /usr/bin/mongod
  RETVAL=$?
  echo
  [ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/<%= @svc_name %>
}

restart () {
  stop
  start
}

ulimit -n 12000
RETVAL=0

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart|reload|force-reload)
    restart
    ;;
  condrestart)
    [ -f /var/lock/subsys/<%= @svc_name %> ] && restart || :
    ;;
  status)
    status $DAEMON
    RETVAL=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|reload|force-reload|condrestart}"
    RETVAL=1
esac

exit $RETVAL

