# <%= node[:mongodb][:mongoc][:config] %>
configsvr = true
<%#
    Where to store the data.
%>
dbpath = <%= node[:mongodb][:mongoc][:dbpath] %>
<%#
    where to log
%>
logpath = <%= node[:mongodb][:mongoc][:logpath] %>
logappend = <%= node[:mongodb][:mongoc][:logappend] ? 'true' : 'false' %>
port = <%= node[:mongodb][:mongoc][:port] %>
<%#
    Disables write-ahead journaling
%>
<%- if node[:mongodb][:nojournal] %>
nojournal = true
<%- end -%>
<%#
    Enables periodic logging of CPU utilization and I/O wait
%>
<% if node[:mongodb][:cpu] %>
cpu = true
<% end -%>
<%#
    Turn on/off security.  Off is currently the default
%>
<% if node[:mongodb][:auth][:enabled] %>
auth = true
<% else -%>
noauth = true
<% end %>
<%#
    Verbose logging output.
%>
<% if node[:mongodb][:verbose] %>
verbose = true
<% end %>
<%#
Inspect all client data for validity on receipt (useful for developing drivers)
%>
<% if node[:mongodb][:objcheck] %>
objcheck = true
<% end %>
<%#
    Enable db quota management
%>
<% if node[:mongodb][:quota] %>
quota = true
<% end %>
<%#
    Set oplogging level where n is
       0=off (default)
       1=W
       2=R
       3=both
       7=W+some reads
%>
<% if node[:mongodb][:dialog] %>
diaglog = <%= node[:mongodb][:dialog] %>
<% end %>
<%#
    Ignore query hints
%>
<% if node[:mongodb][:nohints] %>
nohints = true
<% end %>
<%#
    Disable the HTTP interface (Defaults to localhost:28017).
%>
<% if node[:mongodb][:nohttpinterface] %>
nohttpinterface = true
<% end %>
<% if node[:mongodb][:rest_enabled] %>
rest = true
<% end %>
<%#
    Turns off server-side scripting.  This will result in greatly limited functionality
%>
<% if node[:mongodb][:noscripting] %>
noscripting = true
<% end %>
<%#
    Turns off table scans.  Any query that would do a table scan fails.
%>
<% if node[:mongodb][:notablescan] %>
notablescan = true
<% end %>
<%#
    Disable data file preallocation.
%>
<% if node[:mongodb][:noprealloc] %>
noprealloc = true
<% end %>
<%#
    Disable data file preallocation.
%>
<% if node[:mongodb][:nssize] %>
nssize = <%=  node[:mongodb][:nssize] %>
<% end %>
