# <%= node[:mongodb][:config] %>
<%#
    where to log
%>
logpath = <%= node[:mongodb][:mongos][:logpath] %>
logappend = <%= node[:mongodb][:mongos][:logappend] ? 'true' : 'false' %>
port = <%= node[:mongodb][:mongos][:port] %>
<%#
    Enables periodic logging of CPU utilization and I/O wait
%>
<% if node[:mongodb][:cpu] %>
cpu = true
<% end -%>
<%#
    Verbose logging output.
%>
<% if node[:mongodb][:verbose] %>
verbose = true
<% end %>
configdb = <%= node[:mongodb][:mongos][:configdb] %>
pidfilepath = <%= node[:mongodb][:mongos][:pidfilepath] %>
fork = true
